*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(184, 184, 184);
}

.header{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: pink;
    justify-content: center;
    padding: 20px;
}


.nav-list{
    display: flex; 
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(83, 255, 48);
    width: 400px;
    height: 300px;

}
.nav-list li{
    height: 30px;
    align-content: center;
    padding: 5px;
    border: 1px solid red;
    
}

a{
    text-decoration: none;
    color: black;
}

.mainCont{
    display: flex;
    background-color: rgb(253, 253, 253);
    width: auto;
    flex-direction: row;
    align-items: center;
}

.card{
    display: flex;
    background-color: blue;
    flex-direction: column;
    height: 700px;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.right-link{
    display: flex;
    justify-content: center;
    background-color: yellow;
    padding: 100px;
}