.header{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

ul{
    background-color:beige;
    padding: 30px;
    
}

.nav-list{
    display: flex; 
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.nav-list li{
    border: 1px solid red;
    height: 40px;
    align-content: center;
}
a{
    text-decoration: none;
}
