*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(184, 184, 184);
}

.header{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: pink;
    justify-content: center;
    padding: 20px;
}


.nav-list{
    display: inline-flex; 
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;
    align-content: flex-start;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    padding: 30px;
}
.nav-list li{
    height: 30px;
    align-content: center;
    padding: 5px;
    border: 1px solid red;
    
}

a{
    text-decoration: none;
    color: black;
}

.mainCont{
    display: flex;
    background-color: blue;
    width: 700px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.card{
    display: flex;
    background-color: blue;
    align-items: center;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
